/* style.css */


.product-details {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    background-color: #f6f6f6;
}

.product-gallery {
    width: 50%;
}

.product-info {
    width: 45%;
}

.product-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}

.price {
    color: #e8491d;
    font-weight: bold;
}

.buy-button {
    display: inline-block;
    background-color: #e8491d;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.buy-button:hover {
    background-color: #333;
}

/* 响应式设计 */
@media (max-width: 768px) {
    .product-details {
        flex-direction: column;
    }

    .product-gallery, .product-info {
        width: 100%;
    }
}
