.messages {
    position: fixed; /* 固定定位 */
    top: 50%; /* 顶部距离页面视图窗口中心 */
    left: 50%; /* 左侧距离页面视图窗口中心 */
    transform: translate(-50%, -50%); /* 位移变换以确保准确居中 */
    z-index: 1000; /* 确保提示框显示在最上层 */
    text-align: center;
    width: auto;
}

.message {
    background-color: #93ff97; /* 背景色 */
    color: #000000; /* 字体色 */
    border: 1px solid #bafd96;
    padding: 10px; /* 内边距 */
    margin-bottom: 10px; /* 外边距 */
    display: inline-block;
    border-radius: 5px; /* 边框圆角 */
}

ul.errorlist li {
    color: red;
}

/* 淡出动画 */
@keyframes fadeOut {
    to {
        opacity: 0;
        display: none;
    }
}


/* ------------------------------------------------全局页面背景 ------------------------------------------*/
body {
    background-color: #f7f7f7; /* 设置一个亮色背景，您可以根据喜好调整 */
    font-family: 'Helvetica', 'Arial', sans-serif; /* 设置通用字体 */
}

/* 内容区域整体布局美化 */
.content {
    display: flex; /* 设置为flex布局 */
    justify-content: space-around; /* 子项平均分布在容器中 */
    align-items: flex-start; /* 子项从容器的起点开始对齐 */
    padding: 20px; /* 添加一些内边距 */
    margin-top: 20px; /* 与上方内容留出些距离 */
}

/* 商品信息区域样式 */
.product-info {
    background-color: white; /* 设置背景颜色为白色 */
    padding: 20px; /* 设置内边距 */
    border-radius: 10px; /* 设置圆角 */
    box-shadow: 0 2px 4px rgba(0, 0, 0,0.7); /* 添加阴影 */
    margin-right: 2px; /* 与编辑表单区域分开 */
}

.product-info p {
    margin-bottom: 12px; /* 区分每一行商品信息 */
}

.product-info img {
    margin-top: 12px; /* 图像与上方文字留出空隙 */
    border: 1px solid #ddd; /* 图片添加边框 */
    border-radius: 5px; /* 图片边框圆角 */
}

/* 商品编辑表单样式 */
.edit-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0,0.7);
    width: 100%; /* 设置编辑表单区域宽度 */
    max-width: 500px; /* 超过500px则不再扩展 */
}

.edit-form form {
    margin-top: 20px;
}

.edit-form input[type="text"],
.edit-form input[type="file"],
.edit-form input[type="submit"] {
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px; /* 添加间距使输入框更易于使用 */
    width: calc(100% - 24px); /* 宽度减去内边距 */
}

.edit-form input[type="submit"] {
    background-color: #4CAF50; /* 设置提交按钮的背景色 */
    color: white;
    cursor: pointer; /* 鼠标悬浮时变为手势 */
}

.edit-form input[type="submit"]:hover {
    background-color: #45a049; /* 鼠标悬浮时的背景色 */
}

/* 消息提示样式 */
.messages {
    background-color: #d4edda;
    color: #155724;
    border-left: 6px solid #c3e6cb;
    padding: 15px;
    margin-bottom: 20px;
    text-align: left;
}

/* 表单错误信息 */
ul.errorlist {
    padding: 0;
    margin: 0;
    color: #dc3545; /* 错误信息颜色 */
}

ul.errorlist li {
    list-style-type: none; /* 去除列表符号 */
}