.no-products-animation {
    display: none;
    animation: fadeInOut 3s ease infinite;
    position: fixed; /* 使用 fixed 定位 */
    top: 50%; /* 从顶部开始的位置 */
    left: 50%; /* 从左边开始的位置 */
    transform: translate(-50%, -50%); /* 使用 transform 居中 */
}

.no-products-animation p {
    text-align: center;
    font-size: 5em; /* 调整为您需要的大小 */
    color: red;
}

.classes-items {
    text-align: center;
}

.items {
    text-align: center;
}

.classes {
    background: #f4f4f4;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

/* ---------------------------------------------分页----------------------------------------------- */
/* 分页控件基本样式 */
#pagination {
    text-align: center; /* 居中显示 */
    margin: 20px 0; /* 顶部和底部间距 */
    font-size: 16px; /* 文字大小 */
}

/* 页码按钮样式 */
#pagination a,
#pagination span {
    display: inline-block; /* 使元素水平排列 */
    margin: 0 10px; /* 页码之间的间距 */
    padding: 8px 16px; /* 内填充，根据需要调整大小 */
    background-color: #f9f9f9; /* 背景色 */
    border: 1px solid #ddd; /* 边框 */
    border-radius: 4px; /* 圆角边框 */
    text-align: center;
    min-width: 40px;
    color: #337ab7;
    text-decoration: none;
}

/* 激活页码的样式 */
#pagination .current {
    background-color: #337ab7; /* 激活页码的背景色 */
    color: white; /* 激活页码的字体色 */
    border-color: #337ab7; /* 激活页码的边框色 */
}

/* 鼠标悬浮页码按钮的样式 */
#pagination a:hover {
    background-color: #e9e9e9; /* 鼠标悬浮的背景色 */
    color: #23527c; /* 鼠标悬浮的字体色 */
    text-decoration: none;
}

/* 输入框和跳转按钮样式 */
#pagination form {
    display: inline-block;
}

#pagination input[type="number"] {
    padding: 8px;
    border: 1px solid #ddd;
    width: 80px;
    border-radius: 4px;
    text-align: center;
}

#pagination input[type="submit"] {
    padding: 8px 16px;
    margin-left: 5px;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* 鼠标悬浮时，指针变为手势 */
}

#pagination input[type="submit"]:hover {
    background-color: #286090;
}

/* ---------------------------------------------商品----------------------------------------------- */

/*商品卡片*/
.goods-model, .detail-body {
    background-color: #f6f6f6;
}

.goods-model {
    min-height: 1000px;
}

.goods-content {
    width: 1220px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.good {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    width: 285px;
    height: 371px;
    background-color: #ffffff;
    overflow: hidden;
    opacity: 0;
    animation: flowIn 0.5s ease forwards;
}

@keyframes flowIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.good > a > p.name {
    margin-top: 14px;
    margin-left: 15px;
    font-size: 20px;
}

.good .price {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 110px;
    height: 30px;
    padding-left: 8px;
}

.good .price i, .good .price p, .good .price s {
    display: block;
    float: left;
}

.good .price i {
    margin-top: 17px;
}

.good .price p {
    font-size: 30px;
    color: #ff464e;
}

.good .price s {
    margin-top: 17px;
    color: #bbc6dd;
}

.good .sale {
    position: absolute;
    bottom: 15px;
    right: 11px;
    color: #ff464e;
}


.page {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #ff464e;
    text-align: center;
}
/* 添加到 .good img 选择器中 */
.good img {
    transition: all 0.3s ease; /* 添加过渡效果 */
}

/* 添加到 .good:hover img 选择器中 */
.good:hover img {
    transform: scale(1.1); /* 放大图片 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 添加阴影效果 */
}
.items a {
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    color: #333;
}
.items a:hover {
    transform: scale(1.1);
    color: inherit;
}
