body {
    background-image: url('ceshi.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h2 {
    text-align: center;
    color: #333;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}
input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}
input[type="submit"]:hover {
    opacity: 0.8;
}
p {
    text-align: center;
    margin-top: 20px;
    color: #777;
}
a {
    color: #4caf50;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
