<!DOCTYPE html>
<html lang="zh">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static '首页_files/style.css' %}">
    <link rel="stylesheet" href="{% static '首页_files/login.css' %}">
    <link rel="stylesheet" href="{% static '首页_files/index.css' %}">
    <link rel="stylesheet" href="{% static '首页_files/detail.css' %}">
    <link rel="stylesheet" href="{% static '首页_files/carts.css' %}">
    <link rel="stylesheet" href="{% static '首页_files/reset.css' %}">
    <link rel="stylesheet" href="{% static '首页_files/mygxin.css' %}">
    <script src="{% static '首页_files/jquery.min.js.下载' %}"></script>
    <script src="{% static '首页_files/carts.js.下载' %}"></script>
</head>
<body>
    <div class="head">
    <div class="head-in">

            {% if u_id %}
                <ul class="options">
                <!-- 用户已登录 -->
                <li class="sub"><a href="/user/userorder">我的订单</a></li>
                <li class="sub"><a href="/user/userserve">客户服务</a></li>
                <li class="sub"><a href="/user/usercart">我的购物车</a></li>
                </ul>
                <div class="register"><a href="{% url 'userprofile' u_id role %}">查看个人信息</a></div>
                <div class="register"><a href="/logout">退出登录</a></div>
                <div class="hello">欢迎您！欢迎来到数码产品网上交易平台</div>
            {% else %}
                <ul class="options">
                <!-- 用户未登录 -->
                <li class="sub"><a href="/user/login">我的订单</a></li>
                <li class="sub"><a href="/user/login">客户服务</a></li>
                <li class="sub"><a href="/user/login">我的购物车</a></li>
                </ul>
                <div class="register"><a href="/user/register">免费注册</a></div>
                <div class="sign"><a href="/user/login">登录</a></div>
            {% endif %}
    </div>
    </div>
    <div class="search">
        <ul class="items">
            <li class="item">
                <a href="http://127.0.0.1:8000/?category=2#">
                    <img src="{% static '首页_files/1_09.png'%}">
                    <p>10:00开抢</p>
                </a>
            </li>
            <li class="item">
                <a href="http://127.0.0.1:8000/?category=2#">
                    <img src="{% static '首页_files/1_11.png'%}">
                    <p>买手砍价</p>
                </a>
            </li>
            <li class="item">
                <a href="http://127.0.0.1:8000/?category=2#">
                    <img src="{% static '首页_files/1_13.png'%}">
                    <p>验货质检</p>
                </a>
            </li>
        </ul>
        <div class="input">
            <input type="" name="" value="请输入想找的宝贝">
            <img src="{% static '首页_files/1_06.png'%}">
        </div>
    </div>
<div class="classes">
    <ul class="classes-items"><li class="items"><a href="http://127.0.0.1:8000/get_products/?category_id=1">个人电脑和配件</a></li>
        <li class="items"><a href="http://127.0.0.1:8000/get_products/?category_id=2">移动设备</a></li>
        <li class="items"><a href="http://127.0.0.1:8000/get_products/?category_id=3">家用电子产品</a></li>
        <li class="items"><a href="http://127.0.0.1:8000/get_products/?category_id=4">厨房电子设备</a></li>
        <li class="items"><a href="http://127.0.0.1:8000/get_products/?category_id=5">办公设备</a></li>
        <li class="items"><a href="http://127.0.0.1:8000/get_products/?category_id=6">汽车电子设备</a></li>
        <li class="items"><a href="http://127.0.0.1:8000/get_products/?category_id=7">网络和通信设备</a></li>
        <li class="items"><a href="http://127.0.0.1:8000/get_products/?category_id=8">可穿戴设备</a></li>
        <li class="items"><a href="http://127.0.0.1:8000/get_products/?category_id=9">智能家居设备</a></li>
    </ul>
</div>

    <div>
    <main class="product-details">
        <section class="product-gallery">
            {% load static %}
            <img src="{% static '商品图片/'|add:product.product_image_url %}" alt="{{ product.name }}" class="product-image">
            <!-- 产品图片下方的缩略图列表 -->
        </section>
        <section class="product-info">
            <h1>{{ products2.p_name }}</h1>
            <p class="price">￥{{ product.original_price }}</p>
            <p>{{ product.description }}</p>
            <div class="promotion">
                <!-- 促销信息内容 -->
            </div>
            <div class="reviews">
                <!-- 用户评价内容 -->
            </div>
            <form action="/add-to-cart/" method="post">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.shop_product_id }}">
                <input type="hidden" name="user_id" value="{{ u_id }}">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="buy-button">加入购物车</button>
            </form>
        </section>
    </main>
    </div>


</body>
</html>
