<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/注册_files/register.css' %}">
</head>
<body>
    <div class="container">
        <h2>注册</h2>
        <form action="/user/register/" method="post">
            {% csrf_token %}
            <p><label>用户名:</label><input type="text" name="name" required></p>
            <p><label>密 码:</label><input type="password" name="password" required></p>
             <p>
                <label>角色:
                <select name="role">
                    <option value="user">用户</option>
                    <option value="admin">管理员</option>
                    <option value="merchant">商家</option>
                </select>
                </label>
            </p>
            <p><input type="submit" value="注册"></p>
            <p>已经有帐户了吗? <a href="/user/login">点击此处去登录</a></p>
        </form>
    </div>
</body>
</html>
