<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% load static %}
    <title>shop_manage_products</title>
    <link rel="stylesheet" href="{% static '商家_files/head.css' %}">
    <link rel="stylesheet" href="{% static '商家_files/shop_manage_products.css' %}">
    <script src="{% static '首页_files/jquery.min.js.下载' %}"></script>
    <script src="{% static '首页_files/carts.js.下载' %}"></script>

    <style>

    </style>
</head>
<body>

<div class="head">
    <div class="head-in">
        <div class="register"><a href="http://127.0.0.1:8000/shop/shoppage/shop_profile">查看个人信息</a></div>
        <div class="register"><a href="{% url 'logout' %}">退出登录</a></div>
    </div>
</div>
<div class="search">
    <div class="input">
        <input type="" name="" value="请输入想找的宝贝">
        <img src="{% static '首页_files/1_06.png' %}">
    </div>
</div>
<div class="classes">
    <ul class="classes-items">

        <li class="items"><a href="http://127.0.0.1:8000/shop/shoppage/myproducts/?category_id=0">我的商品</a></li>
        <li class="items"><a href="http://127.0.0.1:8000/shop/shoppage/manage_products/?category_id=0">管理商品</a></li>
        <li class="items"><a href="http://127.0.0.1:8000/shop/shoppage/shop_order/">我的订单</a></li>
        <li class="items"><a href="http://127.0.0.1:8000/shop/shoppage/rfm_analysis/">销售分析</a></li>
    </ul>
    <ul class="classes-items">
        <li class="items"><a
                href="http://127.0.0.1:8000/shop/shoppage/manage_products/?category_id=0">全部商品</a></li>
        <li class="items"><a
                href="http://127.0.0.1:8000/shop/shoppage/manage_products/?category_id=1">个人电脑和配件</a></li>
        <li class="items"><a
                href="http://127.0.0.1:8000/shop/shoppage/manage_products/?category_id=2">移动设备</a></li>
        <li class="items"><a
                href="http://127.0.0.1:8000/shop/shoppage/manage_products/?category_id=3">家用电子产品</a></li>
        <li class="items"><a
                href="http://127.0.0.1:8000/shop/shoppage/manage_products/?category_id=4">厨房电子设备</a></li>
        <li class="items"><a
                href="http://127.0.0.1:8000/shop/shoppage/manage_products/?category_id=5">办公设备</a></li>
        <li class="items"><a
                href="http://127.0.0.1:8000/shop/shoppage/manage_products/?category_id=6">汽车电子设备</a></li>
        <li class="items"><a
                href="http://127.0.0.1:8000/shop/shoppage/manage_products/?category_id=7">网络和通信设备</a></li>
        <li class="items"><a
                href="http://127.0.0.1:8000/shop/shoppage/manage_products/?category_id=8">可穿戴设备</a></li>
        <li class="items"><a
                href="http://127.0.0.1:8000/shop/shoppage/manage_products/?category_id=9">智能家居设备</a></li>
    </ul>

    <!-- 在这里添加一个 '增加商品' 的按钮 -->
    <div class="add-product-button">
        <a href="{% url 'add_product' %}" class="btn btn-success">增加商品</a>
    </div>
    {% if shop_products %}
        <table>
            <tr>
                {#                <th>选择</th>#}
                <th>商品名称</th>
                <th>图片</th>
                <th>类别</th>
                <th>品牌</th>
                <th>价格</th>
                <th>描述</th>
                <th>状态</th>
                <th>库存</th>
                <th>原始价格</th>
                <th>折扣</th>
                <th>现在价格</th>
                <th>详情</th>
                <th>修改</th>
                <th>删除</th>
            </tr>
            {% for shop_product in shop_products %}
                <tr>
                    {#                    <td>#}
                    {#                        <input type="checkbox" id="product_selection_{{ shop_product.shop_product_id }}"#}
                    {#                               name="product_selection">#}
                    {#                        <label for="product_selection_{{ shop_product.shop_product_id }}"></label>#}
                    {#                    </td>#}
                    <td>{{ shop_product.product.p_name }}</td>
                    <td><img src="{% static '商品图片/'|add:shop_product.product_image_url %}" alt="商品图片"
                             width="100px"
                             height="100px"></td>
                    <td>{{ shop_product.product.p_type.category_name }}</td>
                    <td>{{ shop_product.product.brand }}</td>
                    <td>{{ shop_product.current_price }}</td>
                    <td>{{ shop_product.product_desc }}</td>
                    <td>{{ shop_product.product_status }}</td>
                    <td>{{ shop_product.stock_quantity }}</td>
                    <td>{{ shop_product.original_price }}</td>
                    <td>{{ shop_product.discount }}</td>
                    <td>{{ shop_product.current_price }}</td>
                    <td>
                        <!-- 新增的详情按钮 -->
                        <a href="{% url 'shop_productdetails' shop_product.shop_product_id %}"
                           class="btn btn-info">详情</a>
                    </td>
                    <td>
                        <!-- 修改按钮 -->
                        <a href="{% url 'edit_product' shop_product.shop_product_id %}"
                           class="btn btn-primary">修改</a>
                    </td>
                    <td>
                        <!-- 删除按钮 -->
                        <a href="javascript:void(0);" onclick="confirmDelete({{ shop_product.shop_product_id }});"
                           class="btn btn-danger">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!-- 分页 -->
        <div class="pagination">
         <span class="step-links">
        {% if shop_products.has_previous %}
            <a href="?page=1&category_id={{ category_id }}">&laquo; 第一页</a>
            <a href="?page={{ shop_products.previous_page_number }}&category_id={{ category_id }}">上一页</a>
        {% endif %}
             <span class="current">
            第 {{ shop_products.number }} / {{ shop_products.paginator.num_pages }} 页
        </span>
             {% if shop_products.has_next %}
                 <a href="?page={{ shop_products.next_page_number }}&category_id={{ category_id }}">下一页</a>
                 <a href="?page={{ shop_products.paginator.num_pages }}&category_id={{ category_id }}">最后一页 &raquo;</a>
             {% endif %}
        </span>
            <!-- 页码跳转表单，同时也传递category_id -->
            <form action="" method="get" style="display: inline-block;">
                <!-- 如果有其他查询参数，务必在这里添加相应的input hidden字段 -->
                <input type="hidden" name="category_id" value="{{ category_id }}">
                <input type="number" name="page" min="1" max="{{ shop_products.paginator.num_pages }}" required
                       placeholder="页码" style="margin-left: 10px;">
                <input type="submit" value="跳转">
            </form>
        </div>
    {% else %}
        <div class="no-products-animation">
            <p>还没有商品哦！</p>
        </div>
    {% endif %}
</div>
<!-- 消息提示 -->
{% if messages %}
    <div id="message-container" class="messages">
        {% for message in messages %}
            <div class="{{ message.tags }} message">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
<!-- 模态框 -->
<!-- 添加商品模态框 -->
<div id="addProductModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>添加商品</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ product_form.as_p }}
            {{ shop_product_form.as_p }}
            <div>
                <label for="id_current_price">现在价格:</label>
                <input id="id_current_price" type="text" name="current_price" readonly>
            </div>
            <div class="image-preview-container">
                <img id="preview" src="{% static '商品图片/暂无图片.png' %}" alt="上传修改的商品图片" width="200px"
                     height="200px">
                <input id="product_image" type="file" name="product_image" onchange="previewImage(this)">
            </div>
            <button type="submit" class="btn btn-success">添加商品</button>
        </form>
    </div>
</div>
<!-- 模态框 - 删除商品确认 -->
<div id="deleteConfirmModal" class="modal">
    <div class="modal-content">
        <span class="close-delete-modal">&times;</span>
        <p>你确定要删除这个商品吗？此操作不可恢复！</p>
        <div class="modal-actions">
            <button id="confirmDelete">确定</button>
            <button class="cancel-delete-modal">取消</button>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector('.no-products-animation').style.display = 'block';
    });

    // 获取添加商品模态框元素
    var addProductModal = document.getElementById('addProductModal');
    var closeButtonAddProduct = addProductModal.getElementsByClassName("close")[0];

    // 获取删除商品模态框元素
    var deleteConfirmModal = document.getElementById('deleteConfirmModal');
    var closeButtonDeleteModal = deleteConfirmModal.getElementsByClassName("close-delete-modal")[0];
    var cancelDeleteButton = deleteConfirmModal.getElementsByClassName("cancel-delete-modal")[0];

    // 点击添加商品按钮时，显示添加商品模态框
    document.querySelector('.add-product-button a').onclick = function (event) {
        event.preventDefault();
        addProductModal.style.display = "block";
    }

    // 点击关闭按钮关闭添加商品模态框
    closeButtonAddProduct.onclick = function () {
        addProductModal.style.display = "none";
    }

    // 点击删除按钮时，显示删除商品模态框
    function confirmDelete(productId) {
        document.getElementById('confirmDelete').onclick = function () {
            window.location.href = "/shop/shoppage/manage_products/delete_product/" + productId + "/";
        };
        deleteConfirmModal.style.display = "block";
    }

    // 点击关闭按钮关闭删除商品模态框
    closeButtonDeleteModal.onclick = function () {
        deleteConfirmModal.style.display = "none";
    }

    // 点击取消按钮关闭删除商品模态框
    cancelDeleteButton.onclick = function () {
        deleteConfirmModal.style.display = "none";
    }

    // 点击窗口外区域关闭任何打开的模态框
    window.onclick = function (event) {
        if (event.target == addProductModal) {
            addProductModal.style.display = "none";
        } else if (event.target == deleteConfirmModal) {
            deleteConfirmModal.style.display = "none";
        }
    }

    window.onload = function () {
        // 查找消息容器并准备淡出效果
        var messageContainer = document.getElementById('message-container');
        if (messageContainer) {
            // 设置5秒后执行淡出动画
            setTimeout(function () {
                messageContainer.style.opacity = '0'; // 设置透明度为 0 触发消失效果
                setTimeout(function () {
                    messageContainer.style.display = 'none'; // 设置display为none来完全隐藏
                }, 1000); // 额外的时间确保透明度动画完成
            }, 2000); // 你可以调整这里的时间来控制消息显示多久
        }

        // 获取输入框，定义updateCurrentPrice函数，添加事件监听器
        var originalPriceInput = document.getElementById('id_original_price');
        var discountInput = document.getElementById('id_discount');
        var currentPriceInput = document.getElementById('id_current_price');

        function updateCurrentPrice() {
            var originalPrice = parseFloat(originalPriceInput.value);
            var discount = parseFloat(discountInput.value);
            if (!isNaN(originalPrice) && !isNaN(discount)) {
                var currentPrice = originalPrice * (1 - discount);
                currentPriceInput.value = currentPrice.toFixed(2);
            }
        }

        // 现在手动计算并更新当前价格
        updateCurrentPrice();

        originalPriceInput.addEventListener('input', updateCurrentPrice);
        discountInput.addEventListener('input', updateCurrentPrice);
    };

    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('preview').src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
</body>
</html>