<!DOCTYPE html>
<html>
<head>
    <title>下订单</title>
</head>
<body>
    <h1>下订单</h1>
    <form id="order-form">
        <label for="address">地址：</label>
        <input type="text" id="address" name="address"><br>
        <button type="button" class="xiadan">下单</button>
    </form>
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrfToken = getCookie('csrftoken');

    document.querySelector('.xiadan').addEventListener('click', function() {
        var address = document.querySelector('#address').value;
        var selectedProductIds = JSON.parse(localStorage.getItem('selectedProductIds'));
        var itemPrices = JSON.parse(localStorage.getItem('itemPrices'));
        var itemQuantities = JSON.parse(localStorage.getItem('itemQuantities'));
        var totalPrice = localStorage.getItem('totalPrice');

        fetch('/checkout/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({
                selectedProductIds: selectedProductIds,
                itemPrices: itemPrices,
                itemQuantities: itemQuantities,
                totalPrice: totalPrice,
                address: address,
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.message);
            if (data.success) {
                window.location.href = 'userpayment_page';
            } else {
                alert("下单失败，请重试");
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert("请求失败，请检查网络连接或稍后重试");
        });
    });
</script>
</body>
</html>